{{#each blogs as |blog|}}
  <div class="d-flex flex-column align-items-center">
    <section class="card">
      <a class="post d-flex flex-column align-items-center" href="/post/{{id}}">
        <h2 class="getBlogtitle">{{title}}</h2>                  
          <p class="getBlogContent">{{content}}</p>
      
      <div class="d-flex flex-column align-items-center">
          <h4>Author: {{user.name}}</h4>
          <h5>Created at: {{format_date blog_date}}</h5>
      </div> 
      </a>        
    </section>
  </div>
{{/each}}
  
